{% extends 'base.html' %} {% load static %} {% block js %}
<!-- Temporary need to change to change node jquery -->
<script src="{% static 'js/home.js' %}"></script>
{% endblock %} {% block content %}

<section class="hero">
  <nav class="container pt-4 pb-2 ">
    <div class="d-flex justify-content-between border-bottom">
      <div>
        <h3>BASSic</h3>
      </div>
      <ul class="d-flex nav-link pr-0">
        <a href="#" class="text-dark"><li class="pl-5">Team</li></a>
      </ul>
    </div>
  </nav>
  <div class="container mx-auto">
      <div class="text-center pt-5">
        <h1  class="title mt-5">Welcome to BASSic!</h1>
        <h3 class="subtitle">Your online bass guitar tablature provider</h3>
      </div>
  </div>
</section>
<section class="form-wrapper container position-relative">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="custom-file__input mx-auto">
      <div class="loader hidden"></div>
      <div class="form_input">
        <h3 class="d-inline-block align-self-end">Hit to add file</h3>
        <input type="file" name="audioForm" accept=".wav" />
      </div>
      <div
        class="custom-file__submit w-100 justify-content-center hidden"
      >
        <div class="d-flex flex-column text-center m-4">
          <img
            class="mx-auto"
            src="{% static 'images/wav.svg' %}"
            alt=""
          />
          <h5 class="custom-file__name my-4">sddf</h5>
          <button type="submit" class="btn btn-secondary btn-lg submit-button">
            Convert now
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="error-card alert alert-danger mt-2 hidden" role="alert">
    ERROR! File type not supported
  </div>
</section>
{% endblock %}
