{% extends 'base.html' %} {% load static %} {% block js %}
<script>
  let fret_data = {{ tab_position | safe}}
</script>
<script src="{% static 'js/tabs.js' %}"></script>

{% endblock %} {% block content %}
<div class="container mt-5">
  <div class="tabs">
    <div class="song-info">
      <div>
        <h1 class="song-info--title">{% firstof tags.title tags.filename  %}</h1>
        <div>
          <span class="song-info--artist">{{tags.artist}}</span>
        </div>
        <audio class="song-info-player" controls>
          <source src="{{uploaded_file_url}}" />
        </audio>
      </div>
    </div>
    <!-- <p>{{ notes }}</p> -->
    <div class="tab-wrapper flex">
      <div class="tab-label">
        <p>G</p>
        <p>D</p>
        <p>A</p>
        <p>E</p>
      </div>
      <div class="tab-container">
        <div class="tab-graph hidden">
          <div class="tab-string tab-string-2 hidden">
            <div class="tab-fret"><span>4</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
