@font-face {
  font-family: metropolis-regular;
  src: url(../fonts/metropolis.regular.otf);
}

body {
  font-family: metropolis-regular !important;
}

ul {
  list-style: none;
}

.hero {
  width: 100%;
  background-color: #f1f5f8;
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  background-image: url(../images/guitar.svg);
  background-size: cover;
  width: 600px;
  height: 500px;
  opacity: .04;
  bottom: -59px;
}
.hero::after {
  content: '';
  position: absolute;
  background-image: url(../images/music.svg);
  background-size: cover;
  width: 450px;
  height: 450px;
  opacity: .04;
  right: 54px;
  bottom: -70px;
  transform: rotate(18deg);
}

.title {
  font-size: 4rem !important;
}

.subtitle {

}

.nav-link {
  font-weight: 600;
}

.form-wrapper {
  margin-top: -180px;
}

.custom-file__input {
  width: 50%;
  height: 350px;
  background-color: #f8f9fb;
  border-radius: 5px;
  box-shadow: 0px 0px 7px #888888;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.custom-file__input:hover {
  margin-bottom: 100px;
}

.form_input {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form_input::before {
  content: "";
  position: absolute;
  background-image: url(../images/add.svg);
  background-size: cover;
  top: 20%;
  left: 37%;
  width: 150px;
  height: 150px;
}

.custom-file__input input {
  width: 100%;
  height: 200px;
  opacity: 0;
  position: absolute;
}

.custom-file__submit img {
  width: 135px;
  height: 135px;
}
.loader {
  background: url(../images/loader.gif);
  background-size: contain;
  width: 150px;
  height: 150px;
}

.error-card {
  margin-left: 100px;
  width: 400px;
}

.hidden {
  display: none !important;
}

/* CONVERT: PX TO REM;
 * @desc : converts PX values to REM;
 */
.icon--gray {
  margin-right: 18px;
  color: #778ca2;
}
.icon--actions {
  margin-right: 8px;
}
.icon--green {
  margin-right: 18px;
  color: #6dd230;
}

.bold {
  font-weight: bold;
}

/* RESPONSIVE
 * @desc : Declares breakpoints for each device;
 */
/* FONT FAMILY
 * @desc : accepts value for font-weight ;
 FORMAT: NORMAL = @include font-family($SofiaPro,$Semi-Bold);
         ITALIC = @include font-family($SofiaPro,$Semi-Bold, true);
 */
/* BOX SHADOW
 * @desc : sets styling for box-shadows;
 */
/* AVATAR COLOR STYLING
 * @desc : sets background color for avatar with no picture;
 */
/* SCROLLBARS
 * @desc : accets values for styling the scroll bars;
 */
/* BADGES
 * @desc : sets color for styling badges;
 */
/* FIT CONTENT
 * @desc : allows crossbrowser width/height for fit-content;
 */
/* TRANSITIONS
 * @desc : allows crossbrowsing properties for transitions;
 */
/* PLACEHOLDERS
 * @desc : allows crossbrowsing properties placeholders;
 */
/* CIRCLE
 * @desc : makes the element circle;
 */
/* IMAGE COVER
 * @desc : background image set to cover/center;
 */
/* BANNER TYPE STYLING
 * @desc : sets styling for banners;
 */
/* BUTTON STYLING
 * @desc : sets styling for buttons;
 */
/* EQUAL WIDTH AND HEIGHT
 * @desc : sets width and height of the 
            element as equal
 */
html,
body {
  color: #05274a;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal 100%/150% "Arial", "Helvetica", sans-serif;
  background: #ffffff;
}
html *,
body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1,
.h1 {
  font-size: 4.5rem;
}

h2,
.h2 {
  font-size: 1.875rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.8125rem;
}

p {
  font-size: 0.8125rem;
}

label {
  font-size: 0.875rem;
}

small {
  font-size: 0.75rem;
  font-weight: normal;
}

.text--strong {
  font-weight: 500 !important;
}

a {
  text-decoration: none;
  color: #05274a;
  font-size: 0.875rem;
  -moz-transition: ease-in 0.3s color;
  -o-transition: ease-in 0.3s color;
  -webkit-transition: ease-in 0.3s color;
  transition: ease-in 0.3s color;
}
a:hover {
  text-decoration: none;
  color: #1552f0;
  -moz-transition: ease-in 0.3s color;
  -o-transition: ease-in 0.3s color;
  -webkit-transition: ease-in 0.3s color;
  transition: ease-in 0.3s color;
}

.align-right {
  float: right;
}

.color--primary {
  color: #1552f0;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.hidden {
  display: none !important;
}

.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
.page-wrapper main {
  width: 100%;
  position: relative;
}

footer {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  position: absolute;
  bottom: 0.625rem;
  width: 100%;
  background: #f7fafb;
}
footer a {
  color: #98a9bc;
}
footer .navbar a {
  padding-left: 3.125rem;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-v2 {
  height: 100%;
}

.tabs-v2 {
  height: 100%;
}
.tabs .song-info {
  display: flex;
  justify-content: center;
  text-align: center;
}
.tabs .song-info-v2 {
  padding: 20px;
  border-right: 1px solid lightgray;
  box-shadow: -2px 3px 8px grey;
}
.tabs .song-info-v2-desc {
  margin-top: 18px;
  padding: 0 5px;
}
.tabs .song-info-v2-desc .title {
  font-size: 28px;
  margin: 0;
}
.tabs .song-info-v2-desc .artist {
  font-size: 17px;
  color: #636363;
  margin: 6px 0;
}
.tabs .song-info-v2-photo {
  width: 230px;
  height: 230px;
  position: relative;
  background-image: url(../images/album-art.png);
  background-size: cover;
  box-shadow: -1px 7px 11px lightgrey;
  border-radius: 5px;
}
.tabs .song-info-v2-photo:before {
  content: "";
  background: linear-gradient(
    125deg,
    rgba(5, 0, 36, 0.650297619) 0%,
    rgba(130, 156, 255, 0.0844712885) 65%
  );
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}
.tabs .song-info-player {
  margin: 15px;
  height: 40px;
}
.tabs .tab-wrapper {
  justify-content: center;
  width: 95%;
  margin: 50px auto 30px auto;
}
.tabs .tab-wrapper-v2 {
  width: 70%;
}
.tabs .tab-container {
  width: 100%;
}
.tabs .tab-label {
  margin-top: -2px;
  margin-right: 15px;
}
.tabs .tab-label p {
  margin: 0 0 5px 0;
  font-weight: 800;
  font-size: 18px;
}
.tabs .tab-graph {
  display: flex;
  margin-bottom: 50px;
  background-image: url(../images/string.png);
  background-size: contain;
  width: 100%;
  height: 130px;
}
.tabs .tab-string {
  width: 5%;
  display: flex;
  justify-content: center;
}
.tabs .tab-string-1 {
  padding-top: 0;
}
.tabs .tab-string-2 {
  padding-top: 31px;
}
.tabs .tab-string-3 {
  padding-top: 63px;
}
.tabs .tab-string-4 {
  padding-top: 94px;
}
.tabs .tab-fret {
  padding: 0 4px 0 4px;
  height: 20px;
  font-weight: 600;
  background-color: white;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
